html {
    min-width: 375px;
    max-width: 1440px;
    height: 100%;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
    font-size: 3rem;
    margin-block: 20rem;
    margin-left: 10rem;
    margin-right: 10rem;
    background-color: hsl(30, 38%, 92%);
}

.image {
    flex-basis: 100%;
    padding-right: 2.5rem;
}

.container {
    padding-bottom: 2.5rem;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: floralwhite;
    padding-right: 10rem;
}

.inner-card {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat';
}

.responsive {
    max-width: 100%;
    height: auto;
}

h2 {
    display: flex;
}

h1 {
    font-size: 5rem;
}

.c1 {
    color: rgb(60, 128, 103);
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 2rem;
    font-family: 'Fraunces';
}

s {
    font-size: 1rem;
    color: black;
}

button {
    color: white;
    background-color: rgb(60, 128, 103);
    font-size: x-large;
    border-radius: 1rem;
    width: 15rem;
    height: 3.5rem;
    transition-duration: 0.4s;
}

button:hover {
    cursor: pointer;
    background-color: green;
}

footer {
    font-family: serif;
    width: 100%;
    height: 2.5rem;
}